*{
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}
nav{
    
    padding: 15px;
}
.nav_options1{
    font-family: 'Splash', Courier, monospace;
    font-weight: 800px;
    font-size: 35px;
    margin-left: 80px;
}
.nav_options1, .nav_links{
    text-decoration: none;
    color: darkblue;
}
.nav_options2{ 
    float: right;
    word-spacing: 30px;
    margin-right: 150px;
    font-family: 'Quicksand', Courier, monospace;
    font-size: 20px;
    margin-right: 80px;
    margin-top: 10px;
}
.float-child1{
    width: 50%;
    float: left;
}
#login_page_img{
    height: 550px;
    margin-top: 40px;
    margin-left: 160px;
}
.login_form{
    margin-left: 200px;
    margin-top: 120px;
    margin-right: 200px;
    padding: 30px;
    text-align: center;
    background-color: bisque;
    border-radius: 10px;
}
.float-child2{
    width: 50%;
    float: left;
}
#login_main{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#login_submit{
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    background-color: blue;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    transition: .3s;



}
#login_submit:hover{
    background-color: greenyellow;
    color: black;
    transform: scale(1.06);

    
}
#check{
    border-radius: 5px;
    padding: 50px;
    font-family: 'Quicksand', Courier, monospace;
}
#login_username, #login_password{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    transition: .3s;
    
}
#login_username:hover, #login_password:hover{
    transform: scale(1.05);
}
#create1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    color: rgb(33, 33, 222);
    transition: .3s;
}
#create1:hover{
    transform: scale(1.05);
}
#forgot{
    color: brown;
    font-family: 'Quicksand', Courier, monospace;
    font-weight: 500;
    font-size: medium;
    text-decoration: underline;
}
.about{
    margin-top: 150px;
    text-align: center;
    margin-left: 400px;
    margin-right: 300px;
    background-color: bisque;
    padding: 10px;
}
#about_head, #contact_head{
    background-color: greenyellow;
    font-family: 'Rubik Wet Paint', Courier, monospace;
    font-weight: 300;
    padding: 10px;
    border-radius: 5px;
}
.contact{
    margin-top: 150px;
    text-align: center;
    margin-left: 400px;
    margin-right: 300px;
    background-color: bisque;
}
.img{
    height: 40px;
}
.contact{
    margin-top: 100px;
    padding: 10px;
}
#about_content{
    font-family: 'Edu SA Beginner', Courier, monospace;
    font-size: 30px;
}
.foot{
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    margin-left: 125px;
}
@media only screen and (min-width:100px) and (max-width:600px){
    .nav_heading{
        margin: 0;
        text-align: center;
    }
    .nav_options1{
        margin-left: 0px;
        font-size: 55px ;

    }
    .nav_options2{
        visibility: hidden;
    }
    #login_page_img{
        height: 400px;
        margin: 0;
        margin-left: 40px;

    }
    .float-child1{
        width: 100%;
    }
    .float-child2{
        width: 100%;
    }
    .login_form{
        margin: 0;
        margin-left: 60px;
        width: 280px;
        font-size: 20px;
    }
    #log{
        font-size: 15px;
    }
    .about{
        margin: 0;
        margin-top: 150px;
        margin-left: 10px;
        width: 400px;
    }
    .contact{
        margin: 0;
        margin-top: 100px;
        margin-left: 60px;
        
    }
    .foot{
        margin: 0;
        margin-left: 60px;
    }
}